#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tireChange {
  color: #bb6117;
  font-size: 100px;
  text-align: center;
  position: relative;
  /* top: 0px; */
  left: 10px; 
  margin-top: 0px;
}

.revenue {
  position: relative;
  right: 100px;
}

.schedule {
 position:relative;
 left: -200px;
 text-align: justify;
}

.customerNumbers {
  font: "Times New Roman";
  position: relative;
  text-align: justify;
  text-align-last: right;
  /* left: 250px; */
}

.tireChangeImage {
  position: relative;
  bottom: 50px;
  left: 125px;
}

/* new stuff */
body {
  font-family: Verdana;
}

.calendar {
  width: 740px;
}
.time-block {
  width: 100px;
  height: 50px;
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}

.time {
/*  background-color: blue;*/
  /* padding-bottom: 20px; */
  height: 30px;
  text-align: right;
  color: #686868;
  font-size: 12px;
}

.calendar-view {
  width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 8px;
  background-color: #ECECEC;
  height: 720px;
  float: left;
  position: relative;
}

/* Events related */
.event {
  border-width: 1px 1px 1px 4px;
  border-style: solid;
  border-color: #d6d6d6;
  border-left-color: #496fa4;
  background-color: #ffffff;
  position: absolute;
  box-sizing: border-box;
}

.event-title {
  color: #496fa4;
  font-size: 11px;
  padding-top: 8px;
  padding-left: 8px;
}

.event-location {
  color: #797979;
  font-size: 9px;
  padding-top: 8px;
  padding-left: 8px;
}

/* Helper Classes */
small {
  font-size: 9px;
  color: #A7A7A7;
}

.clear {
  clear: left;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.border-blue {
  width: 4px;
  background-color: #496fa4;
}

.paragraph {
  text-align-last: center;
}

.car {
  color: #bb6117;
}