@media (prefers-reduced-motion: no-preference) {
    a:nth-of-type(1) .logo {
      animation: logo-spin infinite 20s linear;
    }
  }

.tuneUp {
  position: absolute;
  top: 10%;
  transform: translateY(-10%);
  left: 50%;
  transform: translateX(-50%);
  length: 50%;
  width: 50%;
}